<div class="mdl-layout__container has-scrolling-header test">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header is-upgraded">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary mdl-shadow--2dp">

      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>

      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h1 class="">
          Weather in Australia
        </h1>
      </div>

      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>

    </header>

    <main class="mdl-layout__content mdl-color--accent">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
